<form>
    <div class="clearfix">
        <div class="close_button_top">
            Close Date: <input type="text" id="datepicker" />
            <!-- <p>Close Date: <input type="text" id="datepicker" name="close_date"></p> -->
            <input type="button" class="btn danger close_button" name="close" value="Close Leads" />
        </div>
        <form class="offset" id="top_nav">
            <div class="pagenum_top">
                <span class="page">Page {{ page }}</span>
            </div>
            <div class="prevnext_top">
                <input type="text" name="offset" id="offset" value="{{offset}}" style="display:none" />
                <input type="button" name="prev" value="Prev" class="btn default prev" />{% if are_more %}&nbsp;<input type="button" name="next" value="Next" class="btn default next" />{% endif %}
            </div>
        </form>
    </div>
    <table class="list">
    <tr>
        <td class="checkboxes"><input type="checkbox" id="select_all" /></td>
        <td class="bold name">Full Name</td>
        <td class="bold email">Email</td>
        <td class="bold status">Status</td>
        <td class="bold guid">Guid</td>
    </tr>
    {% for lead in leads %}
    <tr>
        <td><input type="checkbox" class="lead_box" name="guid" value="{{ lead.guid }}" /></td>
        <td class="name">{{ lead.firstName }} {{ lead.lastName }}</td>
        <td class="email">{{ lead.email }}</td>
        <td class="status"> {% ifnotequal lead.closedAt 0 %}
                                Closed: {{ lead.closedAt }}
                            {% else %}Open Lead
                            {% endifnotequal %}</td>
        <td class="guid">{{ lead.guid }}</td>
    </tr>
    {% endfor %}
    </table>
    <div class="clearfix">
        <div class="close_button_bottom">
            <input type="button" class="btn danger close_button" name="close" value="Close Leads" />
        </div>
        <!-- <input type="button" value="Close 'em!" class="close_button" name="close" /> -->
    </div>
</form>
<form class="offset" id="bottom_nav">
    <div class="pagenum_bot">
        <span class="page">Page {{ page }}</span>
    </div>
    <div class="prevnext_bot">
        <input type="text" name="offset" id="offset" value="{{offset}}" style="display:none" />
        <input type="button" name="prev" value="Prev" class="btn default prev" />{% if are_more %}&nbsp;<input type="button" name="next" value="Next" class="btn default next" />{% endif %}
    </div>
</form>
{% block scripts %}
<script type="text/javascript">
var showit = function() {
    $('#content').fadeOut('fast', 'swing', function() {
        $('#loading').fadeIn('fast');
    });
}
var swapit = function(data) {
    $('#content').html(data);
    $('#loading').fadeOut('fast', 'swing', function() {
        $('#content').fadeIn('fast');
    });
}
var human_to_epoch = function(input_date) {
    var split_date = input_date.split('/');
    var d = new Date(split_date[2], split_date[0]-1, split_date[1], 0,0,0,0);
    var close_time = d.getTime();
    return close_time.toString();
}
$(function(){
    var confirmation ='You have selected leads on this page.\nAre you sure you want to leave them in their current state?'
    $('input#datepicker').datepicker();
    $.datepicker.setDefaults($.datepicker.regional['']);
    
    $('.close_button').click(function(){
        if (!$('#datepicker')[0].value) {
            alert('Please select a date.');
            return false;
        } else if (!$(':checked').length) {
            alert('No leads are selected!');
            return false;
        };
        var raw_date = $('#datepicker').val();
        var close_time = human_to_epoch(raw_date);
        var post_data = $('.lead_box:checked').serialize() + "&offset=" + $('#offset').val() + "&close_time=" + close_time;
        if (!confirm("Are you sure?")) {
            return false;
        };
        showit();
        $.post("/close", post_data, function(data) { swapit(data) });
    })
    $('.prev').click(function() {
        if ($(':checked').length) {
            confirm(confirmation);
        }
        showit();
        var post_data = {
            offset: $('#offset').val(),
            prev: 'prev'
        }
        $.post("/list", post_data, function(data) { swapit(data) });
    })
    $('.next').click(function() {
        if ($(':checked').length) {
            confirm(confirmation)
        }
        showit();
        var post_data = {
            offset: $('#offset').val(),
            next: 'next'
        }
        $.post("/list", post_data, function(data) { swapit(data) });
    })
    $('#select_all').mousedown(function(){
        // doesn't work yet... 
        if (!$('#select_all')[0].checked) {
            $('input[type="checkbox"]').attr('checked', 'true');
        } else {
            $('input[type="checkbox"]').removeAttr('checked');
        }
    })
});
</script>
{% endblock scripts %}
