<form>
    <div class="clearfix">
        <div class="close_button_top">
            Close Date: <input type="text" id="datepicker" />
            <!-- <p>Close Date: <input type="text" id="datepicker" name="close_date"></p> -->
            <button class="btn danger close_button" name="close">Close Leads</button>
        </div>
        <form class="offset" id="top_nav">
            <div class="pagenum_top">
                <span class="page">Page {{ page }}</span>
            </div>
            <div class="prevnext_top">
                <input type="text" name="offset" id="offset" value="{{offset}}" style="display:none" />
                <input type="button" name="prev" value="Prev" class="btn default prev" />{% if are_more %}&nbsp;<input type="button" name="next" value="Next" class="btn default next" />{% endif %}
            </div>
        </form>
    </div>
    <table class="list">
    <tr>
        <td class="checkboxes"><input type="checkbox" id="select_all" /></td>
        <td class="bold name">Full Name</td>
        <td class="bold email">Email</td>
        <td class="bold status">Status</td>
        <td class="bold guid">Guid</td>
    </tr>
    {% for lead in leads %}
    <tr>
        <td><input type="checkbox" class="lead_box" name="guid" value="{{ lead.guid }}" /></td>
        <td class="name">{{ lead.firstName }} {{ lead.lastName }}</td>
        <td class="email">{{ lead.email }}</td>
        <td class="status"> {% ifnotequal lead.closedAt 0 %}
                                {{ lead.closedAt }}
                            {% else %}Open
                            {% endifnotequal %}</td>
        <td class="guid">{{ lead.guid }}</td>
    </tr>
    {% endfor %}
    </table>
    <div class="clearfix">
        <div class="close_button_bottom">
            <button class="btn danger close_button" name="close">Close Leads</button>
        </div>
        <!-- <input type="button" value="Close 'em!" class="close_button" name="close" /> -->
    </div>
</form>
<form class="offset" id="bottom_nav">
    <div class="pagenum_bot">
        <span class="page">Page {{ page }}</span>
    </div>
    <div class="prevnext_bot">
        <input type="text" name="offset" id="offset" value="{{offset}}" style="display:none" />
        <input type="button" name="prev" value="Prev" class="btn default prev" />{% if are_more %}&nbsp;<input type="button" name="next" value="Next" class="btn default next" />{% endif %}
    </div>
</form>
{% block scripts %}
<script type="text/javascript">
var showit = function() {
    $('#content').fadeOut('fast', 'swing', function() {
        $('#loading').fadeIn('fast');
    });
}
var swapit = function(data) {
    $('#content').html(data);
    $('#loading').fadeOut('fast', 'swing', function() {
        $('#content').fadeIn('fast');
    });
}
$(function(){
    
    $('input#datepicker').datepicker();
    $.datepicker.setDefaults($.datepicker.regional['']);
    //$(selector).datepicker($.datepicker.regional['']);
    
    $('.close_button').click(function(){
        showit();
        var post_data = $('.lead_box:checked').serialize() + "&offset=" + $('#offset').val() + "&close=close";
        $.post('/close', post_data, function(data) { swapit(data) });
    })
    $('.prev').click(function() {
        showit();
        var post_data = {
            offset: $('#offset').val(),
            prev: 'prev'
        }
        $.post("/list", post_data, function(data) { swapit(data) });
    })
    $('.next').click(function() {
        showit();
        var post_data = {
            offset: $('#offset').val(),
            next: 'next'
        }
        $.post("/list", post_data, function(data) { swapit(data) });
    })
    $('#select_all').click(function(){
        if (!$('#select_all')[0].checked) {
            $('input[type="checkbox"]').attr('checked', 'true');
        } else {
            $('input[type="checkbox"]').removeAttr('checked');
        }
    })
});
</script>
{% endblock scripts %}