{% extends "base.html" %}

{% block page_title %}Welcome{% endblock page_title%}

{% block content_area %}
<div id="loading">
    <img src="images/ajax-loader.gif" />
</div><!-- loading -->
<div id="content">
    <form>
        <fieldset>
            <div class="clearfix">
                <label for="api_key">API Key:</label>
                <div class="input">
                    <input class="xlarge" id="api_key" name="api_key" size="30" type="text" />&nbsp;<span class="validate key">API key is required!</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="actions">
                    <button type="button" id="submit" class="btn danger">Submit</button>&nbsp;<button type="reset" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div><!-- span-12 -->
{% endblock content_area %}
{% block scripts %}
<script type="text/javascript" src="scripts/welcome.js">
</script>
{% endblock scripts %}
