body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #eff;
  text-align:center;
}

.validate {
  color: red;
  display:none;
}
/*
#wrapper {
  position:relative;
  width:900px;
  margin:0 auto;
  text-align:left;
  background: #ccf;
  border: 1px solid #666;
  border-radius:4px;
  padding:20px;
  height: 630px;
}
*/
.bold {
  font-weight:bold;
}

table.list {
  margin:0 auto;
  width:850px;
  border:1px solid #666;
}

#loading {
  display:none;
  position: absolute;
  left: 450px;
  top: 300px;
  margin:0 auto;
}

.title {
  margin-top: -7px;
}

.name {
  width:200px;
}

.email {
  width:250px;
}

.status {
  width:150px;
}

.guid {
  display:none;
}

.checkboxes {
  width:20px;
}
.csv_top {
  position: absolute;
}
